
{% load static %}

<div class="container top">
    <div class="heading heading-flex mb-3">
        <div class="heading-left">
            <h2 class="title">Top Selling Products</h2><!-- End .title -->
        </div><!-- End .heading-left -->

       <div class="heading-right">
            <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab" aria-controls="top-all-tab" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-tv-link" data-toggle="tab" href="#top-tv-tab" role="tab" aria-controls="top-tv-tab" aria-selected="false">TV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-computers-link" data-toggle="tab" href="#top-computers-tab" role="tab" aria-controls="top-computers-tab" aria-selected="false">Computers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-phones-link" data-toggle="tab" href="#top-phones-tab" role="tab" aria-controls="top-phones-tab" aria-selected="false">Tablets & Cell Phones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-watches-link" data-toggle="tab" href="#top-watches-tab" role="tab" aria-controls="top-watches-tab" aria-selected="false">Smartwatches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="top-acc-link" data-toggle="tab" href="#top-acc-tab" role="tab" aria-controls="top-acc-tab" aria-selected="false">Accessories</a>
                </li>
            </ul>
       </div><!-- End .heading-right -->
    </div><!-- End .heading -->

    <div class="tab-content tab-content-carousel just-action-icons-sm">
        <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": true, 
                    "dots": false,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":5
                        }
                    }
                }'>
                {% for prod in product %}
                        
                        <div class="product product-2">
                            <figure class="product-media">
                                {% for types in prod.product_type.all %}


                                {% if types|title == "New" %}
                                <span class="product-label label-circle label-new">New</span>
                                {% endif %}

                                {% if types|title == "Top" %}
                                <span class="product-label label-circle label-top">Top</span>
                                {% endif %}

                                {% if types|title == "Sale" %}
                                <span class="product-label label-circle label-sale">Sale</span>
                                {% endif %}

                                {% endfor %}
                                <a href="product.html">
                                    <img src="{{prod.main_image.url}}" alt="Product image" class="product-image">
                                </a>
                                
                            

                                <div class="product-action product-action-dark">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                    <a href="{% url 'quickview' prod.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">{{prod.pro_catagory}}</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">{{prod.pro_name}}</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">${{prod.price}}</span>
                                    <span class="old-price">Was ${{prod.price}}</span>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( {{prod.rate_product}} Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                {% endfor %}

               
            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="top-tv-tab" role="tabpanel" aria-labelledby="top-tv-link">
            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": true, 
                    "dots": false,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":5
                        }
                    }
                }'>
                {% for prod in product %}
                {% if prod.pro_catagory|title|lower == "tv" %}
                
                <div class="product product-2">
                    <figure class="product-media">
                        {% for types in prod.product_type.all %}


                        {% if types|title == "New" %}
                        <span class="product-label label-circle label-new">New</span>
                        {% endif %}

                        {% if types|title == "Top" %}
                        <span class="product-label label-circle label-top">Top</span>
                        {% endif %}

                        {% if types|title == "Sale" %}
                        <span class="product-label label-circle label-sale">Sale</span>
                        {% endif %}

                        {% endfor %}
                        <a href="product.html">
                            <img src="{{prod.main_image.url}}" alt="Product image" class="product-image">
                        </a>

                    

                        <div class="product-action product-action-dark">
                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                            <a href="{% url 'quickview' prod.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{prod.pro_catagory}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="product.html">{{prod.pro_name}}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">${{prod.price}}</span>
                            <span class="old-price">Was ${{prod.price}}</span>
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( {{prod.rate_product}} Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div><
                {% endif %}
                {% endfor %}
            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="top-computers-tab" role="tabpanel" aria-labelledby="top-computers-link">
            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": true, 
                    "dots": false,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":5
                        }
                    }
                }'>
               
                {% for prod in product %}
                {% if prod.pro_catagory|title|lower == "computers" %}
                
                <div class="product product-2">
                    <figure class="product-media">
                        {% for types in prod.product_type.all %}


                        {% if types|title == "New" %}
                        <span class="product-label label-circle label-new">New</span>
                        {% endif %}

                        {% if types|title == "Top" %}
                        <span class="product-label label-circle label-top">Top</span>
                        {% endif %}

                        {% if types|title == "Sale" %}
                        <span class="product-label label-circle label-sale">Sale</span>
                        {% endif %}

                        {% endfor %}
                        <a href="product.html">
                            <img src="{{prod.main_image.url}}" alt="Product image" class="product-image">
                        </a>

                    

                        <div class="product-action product-action-dark">
                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                            <a href="{% url 'quickview' prod.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{prod.pro_catagory}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="product.html">{{prod.pro_name}}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">${{prod.price}}</span>
                            <span class="old-price">Was ${{prod.price}}</span>
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( {{prod.rate_product}} Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div>
                {% endif %}
                {% endfor %}

            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="top-phones-tab" role="tabpanel" aria-labelledby="top-phones-link">
            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": true, 
                    "dots": false,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":5
                        }
                    }
                }'>
              
                {% for prod in product %}
                        {% if prod.pro_catagory|title|lower  == "tablet and cell phones" %}
                        
                        <div class="product product-2">
                            <figure class="product-media">
                                {% for types in prod.product_type.all %}


                                {% if types|title == "New" %}
                                <span class="product-label label-circle label-new">New</span>
                                {% endif %}

                                {% if types|title == "Top" %}
                                <span class="product-label label-circle label-top">Top</span>
                                {% endif %}

                                {% if types|title == "Sale" %}
                                <span class="product-label label-circle label-sale">Sale</span>
                                {% endif %}

                                {% endfor %}
                                <a href="product.html">
                                    <img src="{{prod.main_image.url}}" alt="Product image" class="product-image">
                                </a>

                            

                                <div class="product-action product-action-dark">
                                    <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                    <a href="{% url 'quickview' prod.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">{{prod.pro_catagory}}</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">{{prod.pro_name}}</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">${{prod.price}}</span>
                                    <span class="old-price">Was ${{prod.price}}</span>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( {{prod.rate_product}} Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div>
                        
                    {% endif %}

                    {% endfor %}


            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="top-watches-tab" role="tabpanel" aria-labelledby="top-watches-link">
            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": true, 
                    "dots": false,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":5
                        }
                    }
                }'>
                {% for prod in product %}
                {% if prod.pro_catagory|title|lower == "smart watchs" %}
                
                <div class="product product-2">
                    <figure class="product-media">
                        {% for types in prod.product_type.all %}


                        {% if types|title == "New" %}
                        <span class="product-label label-circle label-new">New</span>
                        {% endif %}

                        {% if types|title == "Top" %}
                        <span class="product-label label-circle label-top">Top</span>
                        {% endif %}

                        {% if types|title == "Sale" %}
                        <span class="product-label label-circle label-sale">Sale</span>
                        {% endif %}

                        {% endfor %}
                        <a href="product.html">
                            <img src="{{prod.main_image.url}}" alt="Product image" class="product-image">
                        </a>

                    

                        <div class="product-action product-action-dark">
                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                            <a href="{% url 'quickview' prod.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{prod.pro_catagory}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="product.html">{{prod.pro_name}}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">${{prod.price}}</span>
                            <span class="old-price">Was ${{prod.price}}</span>
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( {{prod.rate_product}} Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div>
                
                {% endif %}

                {% endfor %}
            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="top-acc-tab" role="tabpanel" aria-labelledby="top-acc-link">
            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": true, 
                    "dots": false,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":5
                        }
                    }
                }'>
              
                {% for prod in product %}
                {% if prod.pro_catagory|title|lower == "accessories" %}
                
                <div class="product product-2">
                    <figure class="product-media">
                        {% for types in prod.product_type.all %}


                        {% if types|title == "New" %}
                        <span class="product-label label-circle label-new">New</span>
                        {% endif %}

                        {% if types|title == "Top" %}
                        <span class="product-label label-circle label-top">Top</span>
                        {% endif %}

                        {% if types|title == "Sale" %}
                        <span class="product-label label-circle label-sale">Sale</span>
                        {% endif %}

                        {% endfor %}
                        <a href="product.html">
                            <img src="{{prod.main_image.url}}" alt="Product image" class="product-image">
                        </a>

                    

                        <div class="product-action product-action-dark">
                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                            <a href="{% url 'quickview' prod.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{prod.pro_catagory}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="product.html">{{prod.pro_name}}</a></h3><!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">${{prod.price}}</span>
                            <span class="old-price">Was ${{prod.price}}</span>
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 50%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( {{prod.rate_product}} Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div>
                
                {% endif %}

                {% endfor %}

            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->
</div><!-- End .container -->