{% load static %}
{% load onlelinebrake %}

<div class="col-lg-8">
    <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
        <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside" data-toggle="owl" data-owl-options='{
                "nav": false, 
                "dots": true,
                "responsive": {
                    "768": {
                        "nav": true,
                        "dots": false
                    }
                }
            }'>
            {% for sli in slider %}

            <div class="intro-slide">
                <figure class="slide-image">
                    <picture>
                        <source media="(max-width: 480px)" srcset="{{sli.image.url}}">
                        <img src="{{sli.image.url}}" alt="Image Desc">
                    </picture>
                </figure><!-- End .slide-image -->

                <div class="intro-content">
                    <h3 class="intro-subtitle text-primary">{{sli.title}}</h3><!-- End .h3 intro-subtitle -->
                    <h3 class="intro-title">
                       {{sli.desc| onlelinebrake |safe}}
                    </h3><!-- End .intro-title -->

                    <div class="intro-price">
                        <sup>Today:</sup>
                        <span class="text-primary">
                            ${{sli.offerd_price}}<sup>.{{sli.original_price}}</sup>
                        </span>
                    </div><!-- End .intro-price -->

                    <a href="{% url "index"%}" class="btn btn-primary btn-round">
                        <span>Click Here</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
            {% endfor %}
      
        </div><!-- End .intro-slider owl-carousel owl-simple -->
        
        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
</div><!-- End .col-lg-8 -->
