{% extends 'adminapp/base.html' %}
{% load static %}
{% block title %}Purchase Product{% endblock title %}
{% load mytags %}
{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Blank Page</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center">
                <a href="https://www.wrappixel.com/templates/adminwrap/"
                    class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down text-white"> Upgrade to
                    Pro</a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'product' %}" method="POST" enctype="multipart/form-data" class="form-horizontal form-material mx-2">
                          {% csrf_token %}
                          <div class="row">
                          {% for field in form %}
                       <div class="col-md-6">
                          {{ field.label }}
                          {{ field }}
                      </div>
                      {% endfor %}
                    </div>   
                          <button type="submit" class="btn btn-primary">Create Product</button>
                          </form>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <table  id ="product_table"class="display" style="width:100%">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Product description</th>
                          <th scope="col">Product old price</th>
                          <th scope="col">Product current price </th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Brand </th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for p in product %}
                        <tr>
                          <th scope="row">{{p.pro_name}}</th>
                          <td>{{p.pro_catagory}}</td>
                          <td>{{p.old_price}}</td>
                          <td>{{p.price}}</td>
                          <td>{{p.quantity}}</td>
                          <td>{{p.pro_brnd}}</td>
                          <td>
                          <a href={% url "productupdate" p.id %} type="button" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                          <a href={% url "productdelete" p.id %} type="button" class="btn btn-danger btn-sm"><i class="fas red fa-trash"></i></a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
     
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
  
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>



{% endblock content %}