{% load static %}
<div class="bg-light deal-container pt-7 pb-7 mb-5">
    <div class="container">
        <div class="heading text-center mb-4">
            <h2 class="title">Deals & Outlet</h2><!-- End .title -->
            <p class="title-desc">Today’s deal and more</p><!-- End .title-desc -->
        </div><!-- End .heading -->

        <div class="row">
            <div class="col-lg-6 deal-col">
                <div class="deal" style="background-image: url({% static 'assets/images/demos/demo-3/deal/bg-1.jpg' %})">
                    <div class="deal-top">
                        <h2>Deal of the Day.</h2>
                        <h4>Limited quantities. </h4>
                    </div><!-- End .deal-top -->
                    <div class="countdown">
                        Limited Time Only!
                        <span id="clock"></span>
                      </div>

                    <div class="deal-content">
                        <h3 class="product-title"><a href="product.html">{{offer_product.pro_name}}</a></h3><!-- End .product-title -->

                        <div class="product-price">
                            <span class="new-price">${{offer_product.price}}</span>
                            <span class="old-price">Was $900.99</span>
                        </div><!-- End .product-price -->

                        <a href="product.html" class="btn btn-link"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .deal-content -->

                    <div class="deal-bottom">
                        <div class="deal-countdown" data-until="+{{hr}}s"></div><!-- End .deal-countdown -->
                    </div><!-- End .deal-bottom -->
                </div><!-- End .deal -->
            </div><!-- End .col-lg-6 -->
            <div class="col-lg-6">
                <div class="products">
                    <div class="row">
                          
                            {% for p in sale_product %}
                            <div class="col-6">
                                <div class="product product-2">
                                    <figure class="product-media">
                                        {% for tag in p.product_type.all %}
                                       
                                       {% if  tag|title == "Top" %}
                                        <span class="product-label label-circle label-top">Top</span>
                                        {% endif %}
                                     
                                        {% if tag|title == "Sale"%}
                                        <span class="product-label label-circle label-sale">Sale</span>
                                        {% endif %}
                                       {%endfor %}
                                        <a href="product.html">
                                            <img src="{{p.main_image.url}}" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action product-action-dark">
                                            <a href="{% url "cart_add" p.id %}" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            <a href="#" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{p.pro_catagory}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">{{p.pro_name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">${{p.price}}</span>
                                            <span class="old-price">Was ${{p.old_price}}</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: {{p.product_rate}}%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( {{p.rate_product}} reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 -->
                            {% endfor %}
                    </div><!-- End .row -->
                </div><!-- End .products -->
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <div class="more-container text-center mt-3 mb-0">
            <a href="#" class="btn btn-outline-dark-2 btn-round btn-more"><span>Shop more Outlet deals</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->
    </div><!-- End .container -->
</div><!-- End .deal-container -->