{% load static %}

<div class="container">
    <div class="cta cta-border cta-border-image mb-5 mb-lg-7" style="background-image: url({% static 'userapp/assets/images/demos/demo-3/bg-1.jpg' %}");>
        <div class="cta-border-wrapper bg-white">
            <div class="row justify-content-center">
                <div class="col-md-11 col-xl-11">
                    <div class="cta-content">
                        <div class="cta-heading">
                            <h3 class="cta-title text-right"><span class="text-primary">New Deals</span> <br>Start Daily at 12pm e.t.</h3><!-- End .cta-title -->
                        </div><!-- End .cta-heading -->
                        
                        <div class="cta-text">
                            <p>Get <span class="text-dark font-weight-normal">FREE SHIPPING* & 5% rewards</span> on <br>every order with Molla Theme rewards program</p>
                        </div><!-- End .cta-text -->
                        <a href="#" class="btn btn-primary btn-round"><span>Add to Cart for $50.00/yr</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .cta-content -->
                </div><!-- End .col-xl-7 -->
            </div><!-- End .row -->
        </div><!-- End .bg-white -->
    </div><!-- End .cta -->
</div><!-- End .container -->